/* Serio Verify Colours for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-color: #808285;
  --pico-text-selection-color: #88abc2;
  --pico-primary: #fff;
  --pico-primary-background: #cecece;
  --pico-primary-underline: #ecd078;
  --pico-primary-hover: #d95b43;
  --pico-primary-hover-background: #3b8686;
  --pico-primary-focus: #ebf7f8;
  --pico-primary-inverse: #c02942;
  // --pico-primary-inverse: #f5f5f5;
  --pico-muted-border-color: var(--pico-primary-hover);
}
