/* Serio Verify Colours for light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-color: #222222;
  --pico-text-selection-color: #53777a;
  --pico-primary: #fff;
  --pico-primary-background: #cecece;
  --pico-primary-underline: #ecd078;
  --pico-primary-hover: #d95b43;
  --pico-primary-hover-background: #3b8686;
  --pico-primary-focus: #ebf7f8;
  --pico-primary-inverse: #c02942;
  // --pico-primary-inverse: #f5f5f5;
  --pico-muted-border-color: var(--pico-primary-hover);
}
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :host:not([data-theme]) {
    --pico-color: var(--pico-primary);
    // --pico-color: #373c44;
    // --pico-primary-inverse: #fff;
    // --pico-h1-color: var(--pico-primary-inverse);
    --pico-submenu-color: var(--pico-color);
    .grid img {
      background-color: var(--pico-primary);
    }
  }
}
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --pico-color: var(--pico-primary);
  // --pico-color: #373c44;
  // --pico-primary-inverse: #fff;
  // --pico-h1-color: var(--pico-primary-inverse);
  .grid img {
    background-color: var(--pico-primary);
  }
}
