---
const year = new Date();
---

<div class="container">
  <footer>
    &copy; Through The Looking Glass 2012 - <span id="footer-year"
      >{year.getFullYear()}</span
    > · Illustrations: <a href="https://absurd.design/" target="_blank"
      >absurd.design</a
    > · Design: <a href="https://onestopsites.net.au/" target="_blank"
      >One Stop Sites</a
    >
  </footer>
</div>
<style lang="scss">
  footer {
    border-top: 1px solid #bababa;
    padding: 1rem 0;
    font-size: 0.9rem;
    text-align: center;
    & a {
      text-decoration: none;
      color: var(--pico-primary-inverse);
      &:hover {
        color: var(--pico-primary-hover);
      }
    }
  }
</style>
